.footer {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 65, 136);

    h1 {
        color: white;
        font-size: 40px;
    }
}