.hero {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../../images/h1_hero.png");

    .container {
        gap: 20px;
        left: 200px;
        width: 35%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .header {
            gap: 20px;
            display: flex;
            align-items: center;

            .line {
                width: 100px;
                height: 3px;
                background: rgb(57, 108, 240);
            }

            p {
                color: rgb(57, 108, 240);
                display: inline-block;
                font-family: "Muli", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.9px;
                line-height: 27px
            }
        }

        h1 {
            color: rgb(16, 32, 57);
            font-family: "Muli", sans-serif;
            font-size: 60px;
            font-style: normal;
            font-weight: 800;
            line-height: 84px
        }

        span {
            color: rgb(33, 32, 37);
            font-family: "Muli", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }

        button {
            width: 160px;
            display: flex;
            color: white;
            border: none;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            padding: 12px 30px;
            background: rgb(57, 108, 240);
        }
    }

}

@media screen and (min-width:700px) and (max-width:1024px) {
    .hero {
        .container {
            left: 100px;
            width: 70%;
        }
    }
}

@media screen and (min-width:300px) and (max-width:700px) {
    .hero {
        .container {
            gap: 0px;
            width: 90%;
            text-align: center;
            align-items: center;
            left: 0;
            position: relative;
        }
    }
}